<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Query Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
  <div class="row" style="height:50%" >
    <!-- Center Target -->
    <div class="col-sm-4"></div>
      <div class="col-sm-4" style="text-align: center; ">
        <br>
        Thank you for annotating {{ n_replies }} queries, {{ username }}!<br><br>
        We know it has been a lot of work, come by the office to receive thank-you-chocolates.<br><br>
        <a href="https://xkcd.com/1897/"><img class="center-block" src="https://imgs.xkcd.com/comics/self_driving.png"  style="padding: 5px 5px"></img>
        </a>
      </div>
    <br>
  </div>
  <br>
</body>
</html>